.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;

  background-color: var(--color-black);
}

.navTitleContainer {
  display: flex;
  flex-direction: column;
  text-align: start;
  color: var(--color-grey-hover);
}

.navTitle {
  width: auto;
  font-size: 1.8em;
  color:var(--color-white);
  text-decoration: none !important;
}

.navTitle:hover {
  color: var(--color-white-hover);
}

.navEmail {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80vw;
}

.addBtn {
  position:fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: white;
  border-radius: 50%;
  color: var(--color-blue);
}

.addBtn:hover {
  color: var(--color-blue-hover);
}

.addIcon {
  font-size: 5rem !important;
  text-decoration: none;
}


@media (max-width: 600px) {
  .addIcon {
    font-size: 4rem !important;
  }
}