.App {
  text-align: center;
}
body {
  --color-black: rgb(15, 15, 15);
  --color-black-hover: rgb(40, 40, 40);
  --color-white: white;
  --color-white-hover: rgb(230, 230, 230);
  --color-grey: grey;
  --color-grey-hover: rgb(160, 160, 160);
  --color-red: rgb(240, 50, 50);
  --color-red-hover: rgb(240, 100, 100);
  --color-blue: rgb(30, 160, 200);
  --color-blue-hover: rgb(100, 160, 200);

}